* {
    font-family: "trebuchet MS", sans-serif;
}

body{
    margin: 0;
}

header{
    text-align: center;
    font-size: 2vw;
    border-bottom: 3px solid rgb(9, 82, 33);
    padding: 1%;
    background-image: url(img/background_fruit.jpg);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    color: rgb(217, 255, 47);
    font-size: 5vw;
}

section{
    width: 100%;
}

nav{
    width: 20%;
    height: inherit;
    background-color: rgb(189, 233, 168);
    font-size: 2vw;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav ul li{
    margin-bottom: 5%;
    margin-left: 6%;
    background-color: rgb(147, 246, 132);
    width: 80%;
    padding: 3%;
    border-radius: 20%;
    text-align: center;
    font-size: 1.5vw;
    border: 2px solid black; 
}

nav ul li:hover{
    cursor: pointer;
    background-color: rgb(60, 179, 72);
}

article{
    width: 70%;
    padding: 5%;
    background-color: rgb(170, 229, 161);
    font-size: 1.5vw;
}

article h1{
    margin-top: 0;
    font-size: 2vw;
}

article a{
    text-decoration: none;
    color: green;
}

article a:hover{
    color: rgb(84, 175, 4);
}

nav a{
    text-decoration: none;
    color: black;
}

footer{
    width: 100%;
    background-color: rgb(211, 255, 212);
    font-size: 1.3vw;
    padding: 2%;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.fruit-section {
    width: 100%;
    height: auto;
    margin-bottom: 2%;
}

.fruit-section img{
    margin-right: 5%;
    border: 5px solid green;
    height: auto;
    width: 20%;
}

.jokes-section button{
    background-color: rgb(191, 255, 0);
    padding: 1%;
    margin-left: 1%;
    border: 2px solid black;
    border-radius: 20%;
    font-size: 1.3vw;
    cursor: pointer;
}

.jokes-section button:hover{
    background-color: rgb(160, 210, 0);
}

.pun{
    opacity: 0;
    transition: opacity 0.5s;
    height: 0;
}

.divider{
    width: 30%;
    border-bottom: 4px solid green;
    margin-bottom: 5%;
    border-radius: 20%;
    margin-left: 3%;
}

.nav-active{
    background-color: rgb(74, 224, 89);
}

.radio{
    display: block;
    cursor: pointer; 
    user-select:none;
    text-align: left;
}

input[type=radio] {
    --s: 1em;
    --c: #009619;
    
    height: var(--s);
    aspect-ratio: 1;
    border: calc(var(--s)/8) solid #939393;
    padding: calc(var(--s)/8);
    background: 
       radial-gradient(farthest-side,var(--c) 94%,#0000) 
       50%/0 0 no-repeat content-box;
    border-radius: 50%;
    outline-offset: calc(var(--s)/10);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    font-size: inherit;
    transition: .3s;
  }
  input[type=radio]:checked {
    border-color: var(--c);
    background-size: 100% 100%;
  }
  
  input[type=radio]:disabled {
    background: 
       linear-gradient(#939393 0 0) 
       50%/100% 20% no-repeat content-box;
    opacity: .5;
    cursor: not-allowed;
  }

.submit-button{
    background-color: rgb(2, 202, 35);
    padding: 1%;
    margin-left: 1%;
    border: 2px solid black;
    border-radius: 20%;
    font-size: 1.3vw;
    cursor: pointer;
}

.submit-button:hover{
    background-color: rgb(0, 147, 24)
}

#form{
    z-index: -1;
}

#notShow{
    opacity: 0;
    height: 0;
}

@media (max-width: 600px){
    section{
        flex-direction:column;
    }

    section nav{
        width: 100%;
        text-align: center;
    }

    section nav ul li{
        padding: 1%;
        display: inline;
        font-size: 2vw;
    }

    section article{
        width: 90%;
    }

    header{
        font-size: 7vw;
        border-bottom: 2px solid rgb(9, 82, 33);
        padding: 1%;
        background-image: url(img/background_fruit.jpg);
        -webkit-text-stroke-width: 1px;
    }

    .divider{
        border-bottom:3px solid green;
        margin-left: 2%;
    }

    .fruit-section img{
        margin-right: 5%;
        border: 3px solid green;
    }

    p{
        font-size: 1.8vw;
    }
}